# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/libpsb/v15/Browse.VC.db
.vs/libpsb/v15/ipch/AutoPCH/aa8722d81f4a86a5/MAIN.ipch
Debug/libpsb.log
Debug/libpsb.tlog/CL.command.1.tlog
Debug/libpsb.tlog/CL.read.1.tlog
Debug/libpsb.tlog/CL.write.1.tlog
Debug/libpsb.tlog/libpsb.lastbuildstate
Debug/libpsb.tlog/link.command.1.tlog
Debug/libpsb.tlog/link.read.1.tlog
Debug/libpsb.tlog/link.write.1.tlog
libpsb.sln
libpsb.vcxproj
libpsb.vcxproj.filters
libpsb.vcxproj.user
.vs/libpsb/v15/.suo
